#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--body-bg);
}
  #wrapper #content-wrapper {
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 30px;
  }
  #wrapper #content-wrapper #content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  
  
  
 
  
  